<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<div class="container">

    <th:block th:insert="~{/ui/pages/layouts/header.html::header}"/>

    <div class="bodyLogin">
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
            <div>
                <form class="signup" method="post" action="/registration">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" class="inputLogin" name="userName" placeholder="User name" required="">
                    <input type="email" class="inputLogin" name="email" placeholder="Email" required="">
                    <input type="text" class="inputLogin" name="address" placeholder="Address" required="">
                    <input type="password" class="inputLogin" name="password" placeholder="Password" required="">
                    <input type="password" class="inputLogin" name="passwordRepeat" placeholder="PasswordRepeat" required="">
                    <input type="submit" class="submitInput" value="register" >
                    <!--                <button>Sign up</button>-->
                    </input>
                </form>
            </div>

            <div class="login">
                <form method="post" action="/login">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" class="inputLogin" name="username" placeholder="Email" required="">
                    <input type="password" class="inputLogin" name="password" placeholder="Password" required="">
                    <input type="submit" class="submitInput" value="login">
                    <!--                <button>Login</button>-->
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/pizza.js"></script>
</body>
</html>